.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__newsletter {
  border: 1px solid var(--gold);
  width: 57rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.5rem;
}

.footer__header {
  font-size: 4rem;
  color: var(--gold);
  margin: 1.5rem 0 -1rem 0;
}

.footer__text {
  margin-bottom: 3rem;
}

.footer__subscribe {
  display: flex;
  gap: 2rem;
}

.footer__input {
  color: white;
  border: 1px solid var(--gold);
  background-color: inherit;
  text-indent: 0.75rem;
  width: 39rem;
  border-radius: 5px;
  font-size: 1rem;
}

.footer__button {
  margin: 0;
}

.footer__links {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 6rem;
  margin-top: 0.5rem;
}

.footer__links-header {
  font-weight: 500;
  margin: 1rem 0;
}

.footer__links-special-header {
  font-weight: 600;
  font-size: 2.85rem;
  letter-spacing: 0.05em;
}

.footer__links-text {
  margin: 0;
}

.footer__spoon {
  margin: 1rem 0;
}

.footer__social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer__social-links a {
  color: inherit;
}

.footer__rights {
  margin-top: 5rem;
  margin-bottom: 8rem;
}
